@media(min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1920px;
    }
}

.td-dec__lim__reached,
.td-inc__lim__reached_after_decrease_lim__reached{
    font-weight: bold;
}

.table.table-striped thead tr th{
    background-color: blue;
    color: white;
    vertical-align: top;
}