@media(min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1920px;
    }
}

.td-dec__limit_reached,
.td-inc__limit_reached_after_decrease_limit_reached{
    font-weight: bold;
}

.table.table-striped thead tr th{
    background-color: blue;
    color: white; /* Optional: Make text color white to be visible on black background */
}